:root{
    --primary-color:#e6be04;
    --secondary-color:#ab0525;
    --accent1-color:#000000;
    --accent2-color:#e1e6e8;
    --heading-font: Time new roman, Georgia, serif;
    --body-font:Arial, Helvetica, sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    max-width: 840px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 20px ;
    padding: 5px;
}


.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
    width: 100%;
    height: auto;  
}


.hero img{
    display: block;
    width: 100%;
    height: auto;    
}


.hero h1{
    display: inline;
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 10px;
    background-color: var(--accent2-color);
    text-align: center;
    opacity: .6;
}

.hero article{
    position: absolute;
    top: 380px;
    background-color:var(--secondary-color);
    height: auto;
    opacity: 1.3;
    text-align: justify;
}   


.hero article img{
    display: block;
    float:right;
    width:100px ;
    margin: 5px  5px 5px 20px;
}

