*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border: 1px solid black;
    --margin: 10px;
    --padding: 10px;
    --color-heading-link:rgb(6, 6, 57);
    --background-color: rgb(236, 234, 234);
}



nav{
    background-color: rgb(150, 150, 224);
    padding: 10px;
}

nav a{
    color:var(--color-heading-link);
    display: block;
    padding: var(--padding);
}


h1{

    color: var(--color-heading-link);
}

main{
    max-width: 800px;
    margin-bottom: 4rem;
    
   
}

main img{
    float: right;
    width: 150px;
    height: auto;
    margin-left: 1rem;
    background-color: var(--background-color);
    /*border: var(--border);*/
    box-shadow: 0 0 30px gray;
}

main p{
    padding: 0;
    text-align: justify;
}


aside{
    width: 250px;
    position: relative;
    margin-top: var(--margin);
    border: var(--border);
    padding: var(--padding);
    background-color: var(--background-color);
    color:rgb(88, 86, 86) ;
    text-align: center;
}


aside img{
    width: 200px;
    height: auto;

}



footer{
    margin: var(--margin);
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box{
    clear: both;
    padding: 1rem;
    border: 1px solid rgba(0,0,0 / .1);
    background-color: #ddd;
    color: var(--color-heading-link);
}

aside  h2{
    position: absolute;
    top: 15px ;
    left: 98px;
}