nav{
    background-color: darkblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}


h1{

    color: rgb(22, 22, 75);
}

main{
    max-width: 800px;
   
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p{
    padding: 0;
}


aside{
    width: 200px;
    margin: 10px 10px 10px 0;
    border:1px solid rgb(0 0 0 / .2);
    padding: 10px;
    background-color: rgb(236, 234, 234);
    color:rgb(88, 86, 86) ;
    text-align: center;
}


aside img{
    width: 200px;
    height: auto;

}



footer{
    margin-top: 10px;
    border-top: 3px dotted black;
    text-align: center;
}