/*

The :root Pseudo-Class

    The :root pseudo-class is used to select the root element (html) of the document.
    It is common to see the :root rule at the top of the CSS document, especially since global CSS 
    variables will be declared within that rule.

Writing Global CSS Variables

    Global CSS variables are declared within the :root selector.
    Global CSS variables are declared using the -- prefix followed by the variable name, of your choice 
    and be sure to follow acceptable naming conventions. 

*/

:root{
    --border: 1px solid black;
    --margin: 10px;
    --padding: 10px;
    --color-heading-link:rgb(22, 22, 75);
    --background-color: rgb(236, 234, 234);
}



nav{
    background-color: var(--background-color);
    padding: 10px;
}

nav a{
    color:var(--color-heading-link);
    display: block;
    padding: var(--padding);
}


h1{

    color: var(--color-heading-link);
}

main{
    max-width: 800px;
   
}

main img{
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

main p{
    padding: 0;
}


aside{
    width: 200px;
    margin: var(--margin);
    border: var(--border);
    padding: var(--padding);
    background-color: var(--background-color);
    color:rgb(88, 86, 86) ;
    text-align: center;
}


aside img{
    width: 200px;
    height: auto;

}



footer{
    margin: var(--margin);
    border-top: var(--border);
    text-align: center;
}